@model IEnumerable<DTDD.Models.hoadontk>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giatri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoiban.hoten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giatri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoiban.hoten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mahd }) |
            @Html.ActionLink("Details", "Details", new { id=item.mahd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mahd })
        </td>
    </tr>
}

</table>
